body {
	background: #f7f7f7;
}

ul {
	list-style: none;
}
.comment {
	margin: 10px;
	padding: 15px;
	background: #fdfdfd;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;


}
.comment:hover {
	background: #eaeaea;
	cursor: pointer;
}

.plus {
	@extend .comment;
	border-color: #0099ff;
}

.delta {
	@extend .comment;
	border-color: #cc0403;
}

.readMore {
	  border-style: solid;
	  border-color: #cccccc;
	  border-width: 2px;
	  width: 2em;
	  height: 2em;
	  border-radius:4px;
	  text-align: center;
	  padding: .25em;
}
.desc {
	display: none;
}

.readMore {
	float: right;
}

.newVideo input {
	display: inline;
}

.repl {
	text-decoration: underline;
	font-size: 80%;
	z-index: 5;
}

.reply {
	background: #f7f7f7;
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
	font-size: 80%;
	border-width: 1px;
	border-color: #bbb;
	border-style: solid;
}