ul {
	list-style: none;
}
.comment {
	margin: 10px;
	padding: 15px;
	background: #f3f3f3;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;


}
.comment:hover {
	background: #e3e3e3;
	cursor: pointer;
}

.plus {
	@extend .comment;
	border-color: #0099ff;
}

.delta {
	@extend .comment;
	border-color: #cc0403;
}

.desc {
	display: none;
}

.readMore {
	float: right;
}