<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Feedback App</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <a class="drop-color">Videos</a>
        <ul class="menu vertical" id="videolist">
        </ul>
      </li>
      <li>
        <a class="drop-color">Shared With</a>
        <ul class="menu vertical">
          <li><a>Anne</a></li>
          <li><a>Paige</a></li>
          <li><a>Mitch</a></li>
          <li><input type="search" placeholder="Share with. . ."></li>
        </ul>
      </li>
      <li><a class="drop-color">Brad</a></li>
    </ul>
  </div>
</div>

<li id="template" class="delta" style="display: none">
  <div class="readMore" id="openthat" onclick="openClose(thing, openthat)">+</div>
  <div id="info" onclick="goto(441, thing, openthat)"><b>Paige</b> says: <b>I think I could have done better here</b> (7m21s)</div>
  <div class="desc" id="thing">
    <p>Do you have any feedback to improve?</p>
    <ul class="all-replies" id="thing">
      <li class="reply"><b>Anne</b> says: Try changing this thing</li>
      <li class="reply"><b>Mitch</b> says: Don't worry, this seems fine</li>
    </ul>
    <div class="repl" onclick="openReply()">Reply</div>
    <form class="reply-form" style="display: none;">
      <input class="name" type="text" placeholder="Name">
      <input class="reply-text" type="text" placeholder="Reply to Comment">
      <input class="button" type="submit" value="Reply">
    </form>
  </div>
</li>

<!-- Upload New video stuff -->
<div class="row">
  <div class="newVideo">
    <div class="columns">
      <form class="new-video-text">
        <ul class="newvideolist">
          <li><input class="new-video-name" type="text" placeholder="Name for Video"/></li>
          <li><input class="new-video-text" type="text" placeholder="YouTube URL"/></li>
          <li><input class="button" type="submit" value="New Video"/></li>
        </ul>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="columns small-4">
    <h3>Comments: Plus</h3>
    <ul class="pluses">
      <!-- <li class="plus">
        <div class="readMore" id="openthis" onclick="openClose(stuff, openthis)">+</div>
        <div id="info" onclick="goto(61, stuff, openthis)"><b>Mitch</b> says: <b>This part went well this week!</b> (1m1s)</div>
        <div class="desc" id="stuff">
          <p>Look at how well it went</p>
          <ul class="all-replies" id="stuff"></ul>
          <div class="repl" onclick="openReply()">Reply</div>
          <form class="reply-form" style="display: none;">
            <input class="name" type="text" placeholder="Name">
            <input class="reply-text" type="text" placeholder="Reply to Comment">
            <input class="button" type="submit" value="Reply">
          </form>
        </div>
      </li> -->
    </ul>

    <h3>Comments: Delta</h3>
    <ul class="deltas">
    <!-- <li class="delta">
        <div class="readMore" id="openthat" onclick="openClose(thing, openthat)">+</div>
        <div id="info" onclick="goto(441, thing, openthat)"><b>Paige</b> says: <b>I think I could have done better here</b> (7m21s)</div>
        <div class="desc" id="thing">
          <p>Do you have any feedback to improve?</p>
          <ul class="all-replies" id="thing">
            <li class="reply"><b>Anne</b> says: Try changing this thing</li>
            <li class="reply"><b>Mitch</b> says: Don't worry, this seems fine</li>
          </ul>
          <div class="repl" onclick="openReply()">Reply</div>
          <form class="reply-form" style="display: none;">
            <input class="name" type="text" placeholder="Name">
            <input class="reply-text" type="text" placeholder="Reply to Comment">
            <input class="button" type="submit" value="Reply">
          </form>
        </div>
      </li> -->
  </ul>

  </div>
  <div class="columns">
    <h3>Video</h3>
  	<div class="row">
      <div class="columns">
        <div class="videoholder" id="{{vidid}}">
    	     <iframe id="player" width="560" height="315" src="{{vidsrc}}" frameborder="0" allowfullscreen></iframe>
        </div>
       </div>
  	</div>
   <div class="row">
   <div class="columns">
    <form class="comment-form">
      <input type="radio" name="categ" value="plus" id="categPlus" required><label for="categPlus">Plus</label>
      <input type="radio" name="categ" value="delta" id="categDelta"><label for="categDelta">Delta</label>
      <input class="comment-form-name" type="text" placeholder="Name" required></input>
      <input class="comment-form-text" type="text" placeholder="Comment" required></input>
      <textarea class="comment-form-desc" type="text" rows="5" placeholder="Description (optional)"></textarea>
      <input class="button" type="submit" value="Submit">
    </div>
  </div>
  </div>
</div>
